* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 1;
}

.navbar img {
    width: 15%;
}

.navbar__s0 {
    display: none;
}

.navbar__s1 {
    margin-top: 10px;
    padding-left: 20px;
    display: flex;
}

.navbar__s2 {
    padding: 10px;
    margin-top: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 350px;
    display: flex;
    gap: 10px;
    align-items: center;
    display: none;
}

.navbar__s2 input {
    border: none;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    margin-top: 10px;
    display: flex;
    gap: 22px;
    align-items: center;
}

.navbar__s4 {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar__s4__b1 {
    background-color: white;
    color: black;
    width: 80px;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
}

.navbar__s4__b1:hover {
    background-color: whitesmoke;
}

.navbar__s4__b2 {
    background-color: black;
    color: white;
    font-weight: bold;
    width: 80px;
    height: 40px;
    border-radius: 30px;
}


.categories {
    justify-content: center;
    align-items: center;
}

.categories__s1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;

}

.categories__s2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.categories button {
    padding: 10px;
    width: fit-content;
    background-color: transparent;
    border-color: transparent;
    gap: 10px;
}

.categories__s2-b1 {
    text-decoration: underline;
}

.categories__s2 button:hover {
    text-decoration: underline;
}

.categories__s3 {
    padding: 8px;
    margin-left: 300px;
    border: solid black 1px;
    border-radius: 30px;
    width: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.categories__s3 input {
    border: none;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
}

.categories__s3 input:focus {
    outline: none;
}

.categories__s3 button {
    background-color: #34E0A1;
    color: black;
    width: fit-content;
    padding: 10px;
    border-radius: 30px;
    border-color: transparent;
}

.memory-image {
    margin-left: 40px;
    margin-right: 40px;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
}

.memory-image img {
    width: 95%;
    height: 550px;
}

.memory-image h1 {
    color: white;
    padding-left: 10px;
    margin-left: 50px;
    position: absolute;
    bottom: 150px;
}

.memory-image p {
    color: white;
    padding-left: 10px;
    margin-left: 50px;
    position: absolute;
    bottom: 130px;
    z-index: 1;
}

.memory-image button {
    position: absolute;
    bottom: 60px;
    padding: 10px;
    margin-left: 60px;
    border-radius: 40px;
    border-color: transparent;
    font-weight: bold;
}

.international {
    margin-top: 40px;
    padding: 10px;
}

.international__container {
    margin-top: 20px;
    margin-left: 60px;
    width: 92%;
    display: flex;
    position: relative;
    gap: 15px;
}

.international-one h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: bolder;
}

.international-two h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 300px;
}

.international-three h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 590px;
}

.international-four h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 870px;
}

.international h3,
.international p {
    margin-left: 60px;
}

.international h3 {
    display: flex;
    justify-content: space-between;
}

.international p {
    margin-top: 10px;
    font-weight: 100px;
}

.international a {
    margin-right: 60px;
    font-weight: lighter;
    color: #393939;
}

.international-one img,
.international-two img,
.international-three img,
.international-four img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.international-four i {
    position: absolute;
    top: 140px;
    right: -18px;
}

/* .international-arrow img {
    position: absolute;
    width: 40px;
    right: -10px;
    top: 120px;
} */

.international-four i:hover {
    background-color: black;
    color: white;
}

.recent {
    padding: 10px;
    gap: 10px;
}

.recent h2 {
    margin-left: 60px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.recent__container {
    margin-bottom: 10px;
    margin-left: 60px;
    /* gap: 100px; */
}

.recent button {
    width: 200px;
    background-color: white;
    border-radius: 10px;
    border-color: gainsboro;
    padding: 10px;
    justify-content: space-around;
    position: relative;
}

.recent i {
    display: flex;
    position: absolute;
    top: 17px;
    left: 17px;
}

.recent button:hover {
    background-color: black;
    color: white;
}

.chennai {
    margin-top: 30px;
    padding: 10px;
}

.chennai__container {
    margin-top: 20px;
    margin-left: 60px;
    width: 92%;
    display: flex;
    position: relative;
    gap: 15px;
}

.chennai h2 {
    margin-left: 60px;
}

.chennai p {
    margin-top: 10px;
    margin-left: 60px;
}

.chennai-one img,
.chennai-two img,
.chennai-three img,
.chennai-four img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.chennai-one h3,
.chennai-two h3,
.chennai-three h3,
.chennai-four h3 {
    width: 95%;
}

.chennai-one p,
.chennai-two p,
.chennai-three p,
.chennai-four p {
    margin-left: 0;
}

.chennai-one i {
    position: absolute;
    left: 250px;
    top: 20px;
}

.chennai-two i {
    position: absolute;
    left: 530px;
    top: 20px;
}

.chennai-three i {
    position: absolute;
    left: 800px;
    top: 20px;
}

.chennai-four i {
    position: absolute;
    left: 1100px;
    top: 20px;
}

.chennai-arrow img {
    position: absolute;
    width: 40px;
    right: -10px;
    top: 120px;
}

.chennai-arrow img:hover {
    background-color: yellowgreen;
    color: black;
}

.asian {
    margin-top: 100px;
    padding: 10px;
}

.asian__container {
    margin-top: 20px;
    margin-left: 60px;
    width: 92%;
    display: flex;
    position: relative;
    gap: 15px;
}

.asian-one h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.asian-two h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 300px;
}

.asian-three h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 590px;
}

.asian-four h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 870px;
}

.asian h2,
.asian p {
    margin-left: 60px;
}

.asian p {
    margin-top: 10px;
}

.asian-one img,
.asian-two img,
.asian-three img,
.asian-four img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.asian-four i {
    position: absolute;
    top: 140px;
    right: -18px;
}

.asian-four i:hover {
    background-color: black;
    color: white;
}

.explore {
    padding: 10px;
    margin-top: 50px;
    width: 100%;
    height: 350px;
    background-color: #FAF1ED;
}

.explore h2 {
    margin-left: 60px;
}

.explore__container {
    margin-top: 20px;
    margin-left: 60px;
    width: 90%;
    gap: 10px;
    display: flex;
    position: relative;
}

.explore-one img,
.explore-two img,
.explore-three img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.explore-one a,
.explore-two a,
.explore-three a {
    padding: 10px;
    margin-top: 10px;
    color: #393939;
}

/* .explore-area a:hover {
    text-decoration: underline;
} */

.explore-one h4,
.explore-two h4,
.explore-three h4 {
    text-align: center;
    width: 90%;
}

.explore-one i {
    position: absolute;
    left: 330px;
    top: 14px;
}

.explore-two i {
    position: absolute;
    left: 710px;
    top: 14px;
}

.explore-three i {
    position: absolute;
    left: 1080px;
    top: 14px;
}

.explore-arrow img {
    position: absolute;
    width: 40px;
    right: -13px;
    top: 120px;
}

.explore-arrow img:hover {
    background-color: yellowgreen;
    color: black;
}

.gateway {
    padding: 10px;
    margin-top: 50px;
}

.gateway h2,
.gateway h3 {
    margin-left: 60px;
}

.gateway h3 {
    margin-top: 10px;
}

.gateway__container {
    margin-top: 20px;
    margin-left: 60px;
    width: 92%;
    gap: 10px;
    display: flex;
    position: relative;
}

.gateway-one h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.gateway-two h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 300px;
}

.gateway-three h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 590px;
}

.gateway-four h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 870px;
}

.gateway-one img,
.gateway-two img,
.gateway-three img,
.gateway-four img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.destination {
    padding: 10px;
    margin-top: 50px;
}

.destination h2,
.destination p {
    margin-left: 60px;
}

.destination p {
    margin-top: 10px;
}

.destination__container {
    margin-top: 20px;
    margin-left: 60px;
    width: 92%;
    display: flex;
    position: relative;
    gap: 10px;
    /* z-index: 1; */
}

.destination-one h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.destination-two h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 300px;
}

.destination-three h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 590px;
}

.destination-four h1 {
    color: white;
    width: 250px;
    position: absolute;
    bottom: 10px;
    left: 870px;
}

.destination-one img,
.destination-two img,
.destination-three img,
.destination-four img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.destination-four i {
    position: absolute;
    top: 140px;
    right: -18px;
}

.destination-four i:hover {
    background-color: black;
    color: white;
}

.travellersbest {
    padding: 10px;
    margin-top: 50px;
    width: 100%;
    height: 450px;
    background-color: #FFF7E1;
}

.travellersbest__container {
    margin-left: 80px;
    margin-top: 50px;
    width: 500px;
}

.travellersbest__container h1 {
    width: 300px;
}

.travellersbest__container p {
    width: 280px;
}

.travellersbest__container button {
    padding: 10px;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 40px;
    border-color: transparent;
    font-weight: bold;
}

.footer {
    padding: 10px;
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background-color: #FAF1ED;
    font-weight: lighter;
}

.footer__s1 {
    margin-left: 60px;
    margin-top: 10px;
    display: flex;
    gap: 30px;
}

.footer__s1 h3 {
    font-size: 14px;
}

.footer__s1 p {
    font-size: 14px;
    display: block;
}

.footer__s1__4 {
    margin-left: 200px;
}

.footer__s2 {
    margin-left: 60px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.footer__s2 img {
    width: 3%;
}

.footer__s3 {
    display: flex;
    margin-left: 85px;
    padding: 10px;
    position: relative;
    gap: 10px;
}

.footer__s3 a {
    gap: 10px;
    padding: 10px;
    color: black;
}

.footer__s3__container1 {
    margin-left: 100px;
    display: flex;
    gap: 15px;
}

.footer__s3 button {
    background-color: white;
    padding: 5px;
    width: 190px;
    height: 30px;
    display: flex;
    /* text-align: center; */
    justify-content: space-between;
    border-radius: 10px;
    border-color: aliceblue;
}

.footer__s4 {
    margin-left: 60px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.footer__s4 p {
    font-size: 12px;
    width: 750px;
}

.footer__s4 a {
    color: black;
}

.footer__s4__container {
    margin-left: 245px;
    display: flex;
}

.footer__s4 i {
    padding: 10px;
    gap: 10px;
}

/* Media Queries */

@media screen and (max-width: 800px) {
    body {
        font-size: 10px;
    }

    .categories__s3 {
        display: none;
    }
}

@media screen and (max-width: 650px) {

    /* .{
        flex-basis: 40%;
    } */
    .categories__s3 {
        display: none;
    }

    .navbar__s2,
    .navbar__s3,
    .navbar__s4 {
        display: none;
    }

    .navbar__s0 {
        display: block;
    }

    .footer__s1 p {
        display: none;
    }

    .footer__s4 {
        width: 100%;
    }
}